HDCI_DOMAIN={{DOMAIN}}
DRONE_ADMIN={{GITHUB_USER}}

CLOUDFLARE_API_EMAIL={{CLOUDFLARE_API_EMAIL}}
CLOUDFLARE_API_KEY={{CLOUDFLARE_API_KEY}}

DRONE_GITHUB_CLIENT_ID={{DRONE_GITHUB_CLIENT_ID}}
DRONE_GITHUB_CLIENT_SECRET={{DRONE_GITHUB_CLIENT_SECRET}}

DRONE_RPC_SECRET={{DRONE_RPC_SECRET}}

DRONE_USER_CREATE=username:{{GITHUB_USER}},admin:true
DRONE_USER_FILTER={{GITHUB_FILTERING}}

#DRONE_DATABASE_SECRET={{DRONE_DATABASE_SECRET}}

DRONE_SERVER_PROTO=https
DRONE_TLS_AUTOCERT=true

DRONE_LOGS_DEBUG=true
DRONE_LOGS_TEXT=true
DRONE_LOGS_PRETTY=true
DRONE_LOGS_COLOR=true
DRONE_LOGS_TRACE=true

DRONE_RUNNER_CAPACITY=2

DRONE_TZ=Europe/Paris

TRAEFIK_LOG_LEVEL=DEBUG

WATCHTOWER_INTERVAL=30

HDCI_FOLDER={{HDCI_FOLDER}}

CLOUDFLARE_TRUSTED_IPS={{CLOUDFLARE_TRUSTED_IPS}}
